body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 0.9em;
}

div#main {
  margin: 4em auto 0 auto;
  width: 95%;
  max-width: 1000px;
}

h1 {
  font-size: 3em;
}

h1, h2 {
  color: #002147;
  margin-top: 1em;
}

pre, code {
  background-color: #fbfbfb;
  padding: 0.4em;
  border: 1px solid #f1f1f1;
}

code {
  padding: 0.2em;
  border-radius: 3px;
}

dd {
  margin-left: 1em;
  margin-top: 0.5em;
}

dt {
  font-weight: bold;
  padding: 0.5em 0.2em;
}

dl.outer > dt {
  border-bottom: 1px solid #aaa;
  margin-top: 1em;
}

div#autocomplete-with-callback-metadata {
  height: 10em
}

.red {
    color: #c44;
}
