body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 0.9em;
}

h1, h2 { border-bottom: 2px solid #002147;
         color: #002147; } 

pre { background-color: #ffffcc; }

dt { font-weight: bold; }

dl.outer > dt { background-color: rgb(158,206,235);
                padding: 0.5em 0em 0.5em 0em;
                border-bottom: 1px solid #002147;
                border-top: 1px solid #002147;
                font-weight: bold; 
}

dl.inner dt { background-color: rgb(224,222,217);

}

div#autocomplete-with-callback-metadata { height: 10em }

.courses-widget-container {  }

