body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 0.9em;
}

h1, h2 {
  color: #002147;
}

pre, code {
  background-color: #fbfbfb;
  padding: 0.4em;
  border: 1px solid #f1f1f1;
}

code {
  padding: 0.2em;
  border-radius: 3px;
}

dd {
  margin-left: 1em;
}

dt {
  font-weight: bold;
  padding: 0.5em 0;
}

dl.outer > dt {
  border-bottom: 1px solid #aaa;
}

div#autocomplete-with-callback-metadata {
  height: 10em
}

